<h1>Eat-Da-Burger</h1>

<h3>Choose from our delicious menue or create your own burger</h3>

<ul>
    {{#each burgers}}
     <li>
         <p>ID: {{id}}</p>
         <p>Burgers: {{burgers}}</p>
     </li>
    {{/each}}
</ul>

<form actions="/" method="POST">
    <textarea type="text" name="burgers"></textarea>

    <button type="submit">Submit</button>
</form>